.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 920px) {
  .profile {
    flex-direction: column;
    padding-top: 38px;
  }
}

@media screen and (min-width: 920px) {
  .profile {
    padding-top: 36px;
  }
}