.element__delete {
  background-image: url(../../../images/delete-icon.svg);
  width: 18px;
  height: 19px;
  border: none;
  background-color: rgba(0, 0, 0, .0);
  background-size: cover;
  outline: none;
  z-index: 1;
  margin: 18px 0 0 10px;
  opacity: 0;
}